html,
body {
    /* background-repeat: repeat-x;  */
	margin: 0;
	padding: 0;
    overflow: hidden;
}

img {
    position: absolute;
    display: inline;
    z-index: 100;
}

canvas {
    z-index: -10000;
}



